.sideBar{
    background-color: var(--gray-800);
    border-radius: 8px;
    overflow: hidden;
    
}

.buttonProfile{
background-color: var(--gray-800);
border-radius: 8px;
border: 1px solid var(--pink-100);
display: inline-flex;
padding: 16px 24px 14px 24px;
justify-content: center;
align-items: center;
gap: 10px;

}